.stocks-container {
  padding: 20px;
  width: 1080px;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 280px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stocks-title {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.stocks-summary {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

.stocks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.stock-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  width: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.stock-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.stock-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.remove-stock-btn {
  background-color: #ff4c4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.add-stock-btn {
  background-color: #407bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 30px auto 0;
  font-size: 16px;
}
